<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" color="deep">
      <ion-header>
        <ion-toolbar color="deep">
          <ion-title>Cal Checker</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content color="deep">
        <ion-list lines="none" style="background: #A03838;">
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index" color="deep">
            <ion-item  color="deep" [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer color="deep" style="text-align: center; font-family: Athelas; background: #A03838;">
        <!-- Begin FatSecret Platform API HTML Attribution Snippet -->
        <a href="http://platform.fatsecret.com" target="_blank">
          <img src="http://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png"
               srcset="http://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, http://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x"
               border="0"/>
        </a>
        <!-- End FatSecret Platform API HTML Attribution Snippet -->
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
