<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="deep">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map" style="height:100%;"></div>
  <!--<div id='map' style="width:{{mapwidth}}px; height:{{mapheight}}px"></div>-->
</ion-content>
<!--<ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">-->
<!--  <ion-pullup-tab color="deep" (tap)="toggleFooter()">-->
<!--    <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon>-->
<!--    <ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>-->
<!--  </ion-pullup-tab>-->
<!--  <ion-toolbar color="deep" (tap)="toggleFooter()">-->
<!--    <ion-title>Workout</ion-title>-->
<!--  </ion-toolbar>-->
<!--  <ion-content>-->
<!--    <ion-card style="border-radius: 20px;">-->
<!--      <ion-card-content>-->
<!--        <ion-row style="text-align: center;">-->
<!--          <ion-item style="background: none; color: white;">-->
<!--            <ion-label>Type</ion-label>-->
<!--            <ion-select [(ngModel)]="type">-->
<!--              <ion-option value="walk">Walking</ion-option>-->
<!--              <ion-option value="run">Running</ion-option>-->
<!--            </ion-select>-->
<!--          </ion-item>-->
<!--        </ion-row>-->
<!--        <div #stopwatch id="stopwatch"></div>-->
<!--        <ion-buttons>-->
<!--          <ion-col width-50 style="text-align: right;">-->
<!--            <button ion-button round color="secondary" outline (click)="start()" [disabled]="running" *ngIf="!running">-->
<!--              Start-->
<!--            </button>-->
<!--          </ion-col>-->
<!--          <ion-col width-50 style="text-align: right;">-->
<!--            <button ion-button round color="light" outline (click)="stop()" *ngIf="running">-->
<!--              Pause-->
<!--            </button>-->
<!--          </ion-col>-->
<!--          <ion-col width-50 style="text-align: left;">-->
<!--            <button ion-button round color="redd" outline (click)="reset()" [disabled]="stoprunning">-->
<!--              Stop-->
<!--            </button>-->
<!--          </ion-col>-->
<!--          <ion-col width-90 style="text-align: left;">-->
<!--            <button ion-button round color="redd" outline (click)="addToWorkout()" [disabled]="disable">-->
<!--              Add to Workout-->
<!--            </button>-->
<!--          </ion-col>-->
<!--        </ion-buttons>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->

<!--    <ion-card style="border-radius: 20px;">-->
<!--      <ion-card-header>-->
<!--        Add Workout-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->

<!--        <ion-row style="text-align: center;">-->
<!--          <ion-col width-90 style="text-align: center;">-->
<!--            <button ion-button round color="deep" (click)="reset()">-->
<!--              Enter New Workout-->
<!--            </button>-->
<!--          </ion-col>-->
<!--        </ion-row>-->


<!--      </ion-card-content>-->
<!--    </ion-card>-->
<!--    <ion-card style="border-radius: 20px;">-->
<!--      <ion-card-header>-->
<!--        Last 4 days Speed Chart-->
<!--      </ion-card-header>-->
<!--      <ion-card-content style="padding-top:5px;">-->
<!--        <canvas #lineCanvas style="margin-top:5px;"></canvas>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->

<!--  </ion-content>-->

<!--</ion-pullup>-->
