<!--
  Generated template for the FoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Food</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar (ionInput)="getFoods($event)" color="light"></ion-searchbar>
  <app-skeleton [templates]="foods" type="food"></app-skeleton>
  <ion-grid class="ion-text-center" *ngIf="foods.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let food of foods">
      <ion-card style="background-size: cover; border-radius: 15px; background-color: white;" color="white" (click)="getMoreDetails(food)">

        <p class="overlay"></p>
        <ion-card-content>
          <ion-card-title style="text-align: center; font-weight: bold; font-size: 20px; color: black;">
            {{ food.food_name }}
          </ion-card-title>
          <p style="text-align: center; font-weight: bold; color: black;">
            {{food.food_description}}
          </p>
          <p style="text-align: center; font-size: 10px; color: black;" *ngIf="food.brand_name">
            <span
              style="text-align: center; font-size: 10px; font-weight: bold; color: darkred;">BRAND:</span> {{food.brand_name}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
